<div class="container-fluid about_line">
    <h1>ABOUT US</h1>
</div>

<section class="why_we_are">
    <div class="container w_w_a">
        <h2>Why we are?</h2>
    </div>
    <div class="container">
        <div class="col-md-12">
            <p class="firs_line_under_wwa">When you use CompanyName.com, this is exactly what you get</p>
        </div>
        <div class="col-md-12 ul_list">
            <ul>
                <li>An essay, research paper or term paper written for your academic level, whether that be high school,
                    college, or graduate school
                </li>
                <li>Authentic research performed individually for the customer</li>
                <li>A work that is delivered by the deadline established</li>
                <li>Revisions, free of charge, until the customer is completely satisfied (unless there is a change of
                    original instructions)
                </li>
                <li>A guarantee of originality, enforced by scanning each work for plagiarism, using the most current
                    software for that purpose
                </li>
                <li>An emulation of the customer’s writing style, accomplished by allowing the customer to submit
                    samples of his or her previous works. The assigned writer can then use that as a model in producing
                    the piece
                </li>
                <li>A secure and easy method of payment</li>
                <li>A guarantee of complete confidentiality for each customer</li>
                <li>A customer service staff that is available to resolve any issues, answer any questions, and provide
                    price quotes, no matter how simple or complex the work may be
                </li>
                <li>Over 1000 academicians who create essays and research papers in their specific subject fields
                    Resource use and citation as designated by the customer
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="why_chose_us">
    <div class="container">
        <div class="col-md-3">
            <p>Why choose us</p>
            <div class="nav_about">
                <ul>
                    <a href="#"><li>The largest source data base</li></a>
                    <a href="#"><li>Any paper at any academic level</li></a>
                    <a href="#"><li>96% Satisfied and returning customers</li></a>
                    <a href="#"><li>A wide range of services</li></a>
                    <a href="#"><li>MA/PhD writers</li></a>
                    <a href="#"><li>24/7 Customer support</li></a>
                    <a href="#"><li>Flexible discount program</li></a>
                    <a href="#"><li>Free plagiarism report</li></a>
                    <a href="#"><li>Double checked content</li></a>
                    <a href="#"><li>Direct communication with a writer</li></a>
                </ul>
            </div>
        </div>
    </div>
</section>