<footer>
    <div class="container-fluid">
        <div class="container">
            <div class="col-md-2">
                <div class="social">
                    <!--<a href="#" class="link facebook" target="_parent"><span class="fa fa-facebook-square"></span></a>-->
                    <!--<a href="#" class="link twitter" target="_parent"><span class="fa fa-twitter"></span></a>-->
                    <!--<a href="#" class="link google-plus" target="_parent"><span class="fa fa-google-plus-square"></span></a>-->
                    Join us: <a href="https://ru.pinterest.com/"> <i class="fa fa-pinterest" aria-hidden="true"></i>
                </a>
                    <a href="https://twitter.com/?lang=ru"><i class="fa fa-twitter-square"
                                                              aria-hidden="true"></i></a>
                    <a href="https://www.facebook.com/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="copyriting">
                <div class="col-md-10">
                    <p>Copyright © 2016 CompanyName.com</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--<h2>Footer</h2>-->
<script src="js/main.js"></script>
</body>
</html>