<div class="main-bg">
    <div class="container-fluid">
        <div class="container main-img">
            <div class="content_main">
                <div class="row">
                    <div class="col-md-2">
                        <button><i class="fa fa-comments" aria-hidden="true"></i><i class="fa fa-chevron-right"
                                                                                    aria-hidden="true"></i>
                            LIVE CHAT
                        </button>
                    </div>
                    <div class="col-md-10"><h1>CUSTOM WRITING SERVICE</h1></div>
                </div>
            </div>
            <div class="text_main_small">
                <div class="row">
                    <div class="col-md-12"><h2>THE KEY TO SUCCESS</h2></div>
                    <div class="col-md-12 col-md-offset-4"><p class="Y_A_I_R_P">YOU ARE IN RIGHT PLACE</p></div>
                    <div class="col-md-12 col-md-offset-4"><p class="under_Y_A_I_R_P"></p>EssayService.com is a top
                        quality
                        <br>writing service
                    </div>
                </div>
            </div>
            <div class="button_uder_MS">
                <div class="row">
                    <div class="col-md-12 col-md-offset-6">
                        <button>ORDER NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="under_boy_line">
    <div class="container-fluid">
        <div class="container">
            <div class="col-md-6">Special offer: <b>Get limited disconut</b> on the first order
            </div>
            <div class="col-md-6">
                <button>THE LIST OF DISOCUNTS</button>
            </div>
        </div>
    </div>
</div>
<section class="our_advantages">
    <div class="container">
        <h2>Our Advantages</h2>
        <div class="row">
            <div class="col-md-4">
                <a href="" class="top-left">
                    <span>ANY ACADEMIC LEVEL</span>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="top-middle">
                    <span>OVER 300 WORDS PER PAGE</span>
                </a>
            </div>
            <span><div class="col-md-4">FREE PALGIARISM REPORT</div></span>
        </div>
        <div class="row">
            <div class="col-md-4">20%OFF YOUR FIRST ORDER</div>
            <div class="col-md-4">DIRECT COMUNICATION WITH THE WRITER</div>
            <div class="col-md-4">FLEXIBLE DISCOUNT PROGRAM</div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="second_main_text">
                    <div class="col-md-12"><h1>COMPANYNAME.COM HAS COME FORWARDS
                        TO<br> PROVIDE YOU WITH HIGHT QUALITY PAPERS</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="test_text">
                        <p>Student years are the best time of one’s life. You are in the prime of your life and hopeful
                            about the
                            bright
                            future ahead. This is the period that leaves the funniest photos, the sweetest memories, and
                            gives you
                            the
                            most faithful friends. However, there is one thing that spoils all the fun – assignment
                            writing.
                            Have
                            you
                            ever struggled to write an essay or prepare a speech only to find that the deadline is
                            getting
                            closer,
                            and
                            the work is not ready yet? Are you desperate for someone to have your paper done? Ordering
                            it
                            online is
                            a
                            really convenient option, but you must be sure that the final product is worth the price.
                            EssaysService.com
                            is one of the leading online writing centers that deliver only premium quality essays, term
                            papers, and
                            research papers.

                            Once you place an order and provide all the necessary instructions, one of our writers will
                            start
                            working on
                            it. Be sure we won’t choose a person to do your paper at random. The writer assigned will
                            hold
                            an
                            academic
                            degree in the respective area of expertise, which makes it possible for him/her to find the
                            relevant
                            information, carry out exhaustive research, and develop a comprehensible and well-organized
                            document.
                        </p>
                        <p>The final product will meet all your specifications regarding the content and formatting
                            style.
                            What is
                            more,
                            you will not have to proofread it for any grammatical or spelling errors, because our
                            professionals have
                            a
                            really good command of the English language.
                            All the papers EssaysService.com delivers are completely original as we check every single
                            work
                            for
                            plagiarism via advanced plagiarism detection software. You will receive a free plagiarism
                            report
                            together
                            with your essay to show its originality.

                            Being tempted by low prices and promises of quick paper delivery, you may choose another
                            paper
                            writing
                            service. The truth is that more often than not their words are hollow. While the main
                            purpose of
                            such
                            doubtful companies is to cash in on credulity of their clients, the prime objective of
                            EssaysService.com
                            is
                            clients’ satisfaction. We do fulfill our guarantees, and if a customer is displeased with
                            the
                            final
                            paper
                            he/she had received (which hardly ever occurs), he/she will surely get a full refund.
                            However, a
                            refund
                            request is acceptable only within 14 days of the initial deadline.
                        </p>
                    </div>
                </div>
                <!--</div>-->
            </div>
        </div>
    </div>
</section>

<section>
    <div class="H_I_T_lines">
        <div class="container-fluid H_I_T_lines">
            <div class="container">
                <div class="col-md-12">
                    <span><p>How it works</p></span>
                </div>
                <div class="col-md-4 pic_first"><img src="../img/icons/shade.png">1.PLACE YOUR ORDER</div>
                <div class="col-md-4 pic_second"><img src="../img/icons/shade-copy.png">3. YOUR ORDER IS COMPLETED</div>
                <div class="col-md-4 pic_third"><img src="../img/icons/download.png">5. DOWNLOAD</div>
            </div>
        </div>
    </div>
</section>

<section class="under_HIT">
    <div class="container">
        <div class="col-md-6">
            <h2>Ordering a Paper <br>at Company.com Is Worth It</h2>

        </div>
        <div class="col-md-6">
            <h2>Company.com <br>is the best Essay Writing service</h2>
        </div>
    </div>
</section>