/*
* Third Party
*/
@import "../../assets/bootstrap.min.css";
@import "../../assets/font-awesome.min.css";



/*
* Custom
*/
@import "partials/fonts";
@import "partials/variable";
@import "partials/colors";
@import "partials/taxonomies";
@import "pages/head";
@import "pages/home";
@import "pages/footer";
@import "pages/about";
