$small_lines_solid: #14a85c;

$main_light: #86ea8f;

$light_fields: #ffffff;

$buton_solid: #e84c3d;

$text_dark: #003300;

$text_light: #e7fbe9;

$text_super_liht: #ffffff;

$main_color_text: #d2d2d2;

$dark_fields: #4e4e4e;

